@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Press+Start+2P&family=Roboto+Mono:wght@300;400;500&family=VT323&display=swap');

html, body{

	padding: 0;
	margin: 0;
	box-sizing: border-box;
    background-image:
      repeating-linear-gradient(#FBF4F9 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #FBF4F9 0 1px, transparent 1px 100%);
    background-size: 30px 30px;
}

header{
	text-align: center;
}

#burger-button{

	color: #000;
	display: none;
	background-color: transparent;
	border-radius: 0;
	border: none;
	/*border: none;*/
	padding: 0.3em 0.5em;
	cursor: pointer;
}

.row{
	text-align: center;
}

.card{

	padding: 2em;
	font-family: 'VT323', monospace;
	text-align: center;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	transition: 0.6s ease-in-out;
}

.card img{

	width: 80px;
	height: 80px;
}

.card:hover{
	transform: scale(1.2);
}

#digimon-c{

	text-align: center;
}

#digimon-search{

	border-radius: 0;
	border:  2px solid #FFD24C;
	width: 220px;
	outline: none;
	padding: 0.8em;
	font-family: 'Verdana';
	font-size: 12px;
}

.digimon-container{
	margin: 0 auto;
	max-width: 1200px;
}

.digimon-container h2{
	font-family: 'VT323', monospace;
	color: orange;
}

#cards-c{

	margin-top: 4em;
	/*border: 1px solid #000;*/
	display: grid; 
	grid-template-columns: repeat(4, 1fr); 
	grid-auto-rows: auto;
	grid-gap: 1rem;
}

.hide {
  display: none;
}

.game-container{

	margin: 4em auto;
}

.digimon-card{

	background-color: #fff;
	box-shadow: 1px 1px 1px 1px gray;
	cursor: pointer;
	display: inline-block;
	width: 120px;
	height: 120px;
}

.digimon-card img{
	width: 100%;
	height: 100%;
}

footer{

	text-align: center;
	color: #cc8500;
	margin: 4em auto;
	font-family: monospace;
	padding: 0.3em;
}

footer a {

	text-decoration: none;
	color: #ffa366;
	/*font-size: 12px;*/
}

#about-api a{
	text-decoration: underline;
}

#about-api a:hover{
	text-decoration: none;
}

.fa-github-alt{

	margin-left: 0.2em;
}

/*.hide-card {
  display: none;
}
*/

@media(max-width: 700px){

	#cards-c{
		grid-template-columns: repeat(2, 1fr);
	}

	.digimon-card{
		width: 60px;
		height: 60px;
	}

	.card{
		box-shadow: none;
		background-color: transparent;
	}
}

@media(max-width: 400px){
	#cards-c{
		grid-template-columns: repeat(1, 1fr);
	}
}